@import "../vars";
@import "../mixins";

//libs
@import "../../libs/normalize/normalize.min.css";

//specifications
@import "../../css/fonts.css";
@import "../../css/base.css";

.root {
    padding-bottom: 200px;
    @include sidebar();
    height: 100vh;
    overflow: hidden;

    .root-wrapper {
        width: 100%;
        z-index: 10;
        margin-left: 0;
        transition: $smooth;

        &.active {
            margin-left: $aside-w;
        }
       
        @include header();
        @include main();
    }
}

@import "home-media";